@mixin flex-center($gap: 0px) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column($gap: 0 , $justify: start , $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: column;
  row-gap: $gap;
}

@mixin text-style($size, $weight: 400, $color: #4152a0, $family: 'peyda-regular') {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  font-family: $family;
}
