// --------------------- رنگ‌های برند----------------------
$primary: #4152a0; 
$on-primary: #ffffff;
$color-white: #ffffff; 

// --------------------- پس‌زمینه‌ها----------------------
$background: #f7f8fa; 
$surface: #ffffff; 
$surface-alt: #f9fafb; 
$table-header-bg: #4152a0; 

// --------------------- رنگ متن‌ها----------------------
$text-primary: #3c4351; 
$text-secondary: #8999b9; 
$text-placeholder: #c3c5c9; 

// --------------------- رنگ‌های بوردر و کنترل‌ها----------------------
$border-color: #e2edff; 
$control-bg: #eceef6; 

// --------------------- رنگ‌های وضعیت----------------------
$error: #e53e3e; 
$danger: #eb482b; 

// ------------------ Sizes ---------------------

// $dashboard-width: 1920px;
// $dashboard-height: 1080px;
// $sidebar-min-width: 220px;
// $sidebar-header-width: 172px;
// $sidebar-header-height: 116px;
// $login-container-width: 1200px;
// $login-container-height: 840px;
// $input-height: 48px;
// $button-height: 48px;

// ------------------ Border ---------------------

$border-width: 1px;
$border-none: 0;

// ------------------ Radius ---------------------

$radius-sm: 6px;
$radius-md: 8px;
$radius-lg: 12px;

// ------------------ Gaps ---------------------

$gap-xs: 4px;
$gap-sm: 8px;
$gap-md: 12px;
$gap-lg: 20px;
$gap-xl: 24px;
$gap-row: 26px;
$gap-xxl: 40px;

// ------------------ Typography ---------------------

$font-family-regular: 'peyda-regular';
$font-family-bold: 'peyda-bold';
$font-family-semi-bold: 'peyda-semi-bold';
$font-size-sm: 13px;
$font-size-base: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 40px;
$font-weight-400 : 400;
$font-weight-500 : 500;
$font-weight-600 : 600;
$font-weight-700 : 700;
$font-weight-800 : 800;
$font-weight-bold : bold;


