@font-face {
  font-family: 'peyda-medium';
  src: url('../../fonts/peyda/peyda-medium.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'peyda-bold';
  src: url('../../fonts/peyda/peyda-bold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'peyda-regular';
  src: url('../../fonts/peyda/peyda-regular.ttf');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'peyda-semi-bold';
  src: url('../../fonts/peyda/peyda-semi-bold.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'peyda-semiBold';
  src: url('../../fonts/peyda/peyda-semiBold.ttf');
  font-display: swap;
}
